service: sls-data-extraction
useDotenv: true

provider:
  name: aws
  region: eu-west-1
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  timeout: 10
  versionFunctions: false
  logRetentionInDays: 7
  environment:
    GITHUB_TOKEN: ${env:GITHUB_TOKEN}
    BROKALYS_API_GATEWAY_KEY: ${env:BROKALYS_API_GATEWAY_KEY}
  tags:
    group: data-extraction

package:
  include:
    - src/**
  exclude:
    - yarn.lock
  excludeDevDependencies: true

functions:
  # Daily statistics for all properties: sell
  base-data-sell:
    handler: src/base-data.run
    environment:
      PROPERTY_CATEGORY: sell
    events:
      - schedule: cron(15 0 * * ? *)

  # Daily statistics for all properties: buy
  base-data-buy:
    handler: src/base-data.run
    environment:
      PROPERTY_CATEGORY: buy
    events:
      - schedule: cron(10 0 * * ? *)

  # Daily statistics for all properties: rent
  base-data-rent:
    handler: src/base-data.run
    environment:
      PROPERTY_CATEGORY: rent
    events:
      - schedule: cron(5 0 * * ? *)

  # Daily statistics for all properties: want-to-rent
  base-data-want-to-rent:
    handler: src/base-data.run
    environment:
      PROPERTY_CATEGORY: want_to_rent
    events:
      - schedule: cron(0 0 * * ? *)

  # Median monthly SELLING price for APARTMENTS in Riga
  regional-data-apartment-sell-monthly:
    handler: src/regional-data.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(30 0 1 * ? *)
  regional-price-per-sqm-apartment-sell-monthly:
    name: ${self:provider.stage}-RegionalPricePerSqmApartmentSellMonthly
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(31 0 1 * ? *)

  # Median monthly RENT price for APARTMENTS in Riga
  regional-data-apartment-rent-monthly:
    handler: src/regional-data.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(35 0 1 * ? *)
  regional-price-per-sqm-apartment-rent-monthly:
    name: ${self:provider.stage}-RegionalPricePerSqmApartmentRentMonthly
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(36 0 1 * ? *)

  # Median monthly SELLING price for HOUSES in Riga
  regional-data-house-sell-monthly:
    handler: src/regional-data.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(40 0 1 * ? *)
  regional-price-per-sqm-house-sell-monthly:
    name: ${self:provider.stage}-RegionalPricePerSqmHouseSellMonthly
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(41 0 1 * ? *)

  # Median monthly RENT price for HOUSES in Riga
  regional-data-house-rent-monthly:
    handler: src/regional-data.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(45 0 1 * ? *)
  regional-price-per-sqm-house-rent-monthly:
    name: ${self:provider.stage}-RegionalPricePerSqmHouseRentMonthly
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(46 0 1 * ? *)

  # Median monthly SELLING price for LAND in Riga
  regional-data-land-sell-monthly:
    handler: src/regional-data.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: land
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(50 0 1 * ? *)
  regional-price-per-sqm-land-sell-monthly:
    name: ${self:provider.stage}-RegionalPricePerSqmLandSellMonthly
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: land
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(51 0 1 * ? *)

  # Median monthly RENT price for LAND in Riga
  regional-data-land-rent-monthly:
    handler: src/regional-data.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: land
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(55 0 1 * ? *)
  regional-price-per-sqm-land-rent-monthly:
    name: ${self:provider.stage}-RegionalPricePerSqmLandRentMonthly
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: riga
      PROPERTY_CATEGORY: land
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(56 0 1 * ? *)

  # Median monthly SELLING price for APARTMENTS in Latvia
  regional-data-apartment-sell-monthly-lv:
    handler: src/regional-data.run
    timeout: 200
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(32 0 1 * ? *)
  regional-price-per-sqm-apartment-sell-monthly-lv:
    name: ${self:provider.stage}-RegionalPricePerSqmApartmentSellMonthlyLv
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(33 0 1 * ? *)

  # Median monthly RENT price for APARTMENTS in Latvia
  regional-data-apartment-rent-monthly-lv:
    handler: src/regional-data.run
    timeout: 200
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(37 0 1 * ? *)
  regional-price-per-sqm-apartment-rent-monthly-lv:
    name: ${self:provider.stage}-RegionalPricePerSqmApartmentRentMonthlyLv
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: apartment
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(38 0 1 * ? *)

  # Median monthly SELLING price for HOUSES in Latvia
  regional-data-house-sell-monthly-lv:
    handler: src/regional-data.run
    timeout: 200
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(42 0 1 * ? *)
  regional-price-per-sqm-house-sell-monthly-lv:
    name: ${self:provider.stage}-RegionalPricePerSqmHouseSellMonthlyLv
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: sell
    events:
      - schedule: cron(43 0 1 * ? *)

  # Median monthly RENT price for HOUSES in Latvia
  regional-data-house-rent-monthly-lv:
    handler: src/regional-data.run
    timeout: 200
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(47 0 1 * ? *)
  regional-price-per-sqm-house-rent-monthly-lv:
    name: ${self:provider.stage}-RegionalPricePerSqmHouseRentMonthlyLv
    handler: src/regional-price-per-sqm.run
    environment:
      REGION: latvia
      PROPERTY_CATEGORY: house
      PROPERTY_TYPE: rent
    events:
      - schedule: cron(48 0 1 * ? *)

  # # Median monthly SELLING price for LAND in Latvia
  # regional-data-land-sell-monthly-lv:
  #   handler: src/regional-data.run
  #   timeout: 200
  #   environment:
  #     REGION: latvia
  #     PROPERTY_CATEGORY: land
  #     PROPERTY_TYPE: sell

  # # Median monthly RENT price for LAND in Latvia
  # regional-data-land-rent-monthly-lv:
  #   handler: src/regional-data.run
  #   timeout: 200
  #   environment:
  #     REGION: latvia
  #     PROPERTY_CATEGORY: land
  #     PROPERTY_TYPE: rent

plugins:
  - serverless-webpack

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
